rpk start: Support underscores (`_`) in advertised addrs' names

```rpk redpanda start --overprovisioned --smp=1 --memory=1G --reserve-memory=0M --node-id=0 --check=false --set redpanda.enable_transactions=true --set redpanda.enable_idempotence=true --set schema_registry.schema_registry_replication_factor=1 --kafka-addr PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092 --advertise-kafka-addr PLAINTEXT://redpanda:29092,PLAINTEXT_HOST://localhost:9092```

fails with

```Error: parse "PLAINTEXT_HOST://0.0.0.0:9092": first path segment in URL cannot contain colon```

but it works with ```--advertise-kafka-addr PLAINTEXT://redpanda:29092,HOST://localhost:9092```

Hey perfect I was working on something directly related to this just yesterday, so I can use the logic.!

@twmb nice! So is this some weird thing in Go's URL parser?


Actually the main problem here is that `_` is invalid in a scheme.

I was also trying to find the purpose for PLAINTEXT, it doesn't seem like anything in the codebase looks for that.

I think we want to keep the requirement that a scheme needs to be valid, but I'm going to add a function that has strong validation of the input (with or without scheme's).

@BenPope @dotnwat is not having underscores acceptable?

It's minor, but it is a compatibility thing to be aware of.

Does Kafka support this? Strictly speaking, under scores in schemes is invalid per the [RFC3961 section 3.1](https://datatracker.ietf.org/doc/html/rfc3986#section-3.1).